@font-face {
    font-family: "Minecraft";
    src: url("./Minecraft.ttf");
}

body {
  margin: 0;
  font-family: 'Minecraft';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Minecraft';
  border: 2px solid #000;
}